---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <!-- 你可以取消下面这行的注释来显示文章日期 -->
    <!-- <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p> -->
  </header>

  <!-- 文章正文显示区域 -->
  <div class="post-content">
    {{ content }}  
  </div>
  <!-- 文章正文显示区域结束 -->

</article>

<!-- Waline 评论区开始 -->
<div id="waline" class="mt-8"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@waline/client@v3/dist/waline.css" />
<script type="module">
  import { init } from 'https://cdn.jsdelivr.net/npm/@waline/client@v3/dist/waline.mjs'

  init({
    el: '#waline',
    serverURL: 'https://my-earth2.vercel.app',
    lang: 'zh-CN',
    dark: 'auto',       // 自动暗黑模式
    login: 'disable',   // 允许匿名评论
    emoji: [
      '//unpkg.com/@waline/emojis@1.1.0/weibo',
      '//unpkg.com/@waline/emojis@1.1.0/tw-emoji'
    ],
    requiredMeta: ['nick', 'mail'], // 昵称、邮箱为必填
  })
</script>
<!-- Waline 评论区结束 -->
